table {
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
    display: block;
}

thead {
    position: sticky;
    top: 0;
    background-color: #242424;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
